<%= form_with model: @article, html: {multipart: true} do |f| %>
  <div class="container">
  <%= f.label :Title%>
  <%= f.text_field :Title %> <br>
  <%= f.label :Text %>
  <%= f.text_area :Text %> <br>
  <% if @article.image.exists? %>
      <%= image_tag @article.image.url,class:"article-pic"%><br>
  <% end %>
  <%= f.label :image, "Attach a New Image" %><br>
  <%= f.file_field :image %> <br> <br>
  <%= f.label :Category %> <br>
  <ul class="category-list">
    <% @categories.each do |category| %>
        <li>
          <%= check_box_tag 'category_ids[]', category.id -%>
          <%= h category.name -%>
        </li>
    <% end %>
  </ul>
  <%= f.submit "Create" %> <br>
  <br>
  </div>
<% end %>