<div class="article-container">
<% if !@has_articles %>
<h3> <%= link_to 'Write your first article',new_article_path %> </h3>
<% end %>
<% @articles.each do |article| %>

  <div class="article-body">
    <% if article.image.exists? %> 
      <%= image_tag article.image.url, class:"article-pic" %><br/>
    <%else%>
    <img src=<%= default_img %> alt="default-image", class="article-pic">
    <% end %>
    <div class="article-text">
      <h4>  <%= link_to article.Title, article_path(article) %></h4>
      <p><%=article.Text %></p>
      <p> Written By: <i><%= article.author.name %> </i> </p>
      <%= link_to 'Edit', edit_article_path(article), class:'btn'%>
      <%= link_to 'Delete', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' }, class:'btn' %>
    </div>
 </div>
 <%end%>
</div>