<div class="article">
<% if @article.image.exists? %> 
   <%= image_tag @article.image.url, class:"article-show-pic" %><br/>
<%else%>
   <img src=<%= default_img %> alt="default-image", class="article-show-pic">
<% end %>
 
<h3> Author: <%= @article.author.name  %> </h3>
<h4> <%= @article.Title  %>  </h4>
<p> <%= @article.Text %>  </p>
 <i class="fa fa-thumbs-up" aria-hidden="true"></i> 
 <%= @article.votes.count %>
<div class="d-flex">
<% if @article.author == current_user %>
<%= link_to 'Edit', edit_article_path(@article), class:'btn'%>
<%= link_to 'Delete', article_path(@article),
              method: :delete,
              data: { confirm: 'Are you sure?' }, class:'btn' %>
<%end %>
<% if upvoted?(@article) %>
   <%= link_to article_downvote_path(@article), method: :post,class:'btn' do %>
          Downvote <i class="fas fa-thumbs-down"></i>
        <% end %>
  <% else %>
 <%= link_to article_upvote_path(@article), method: :post,class:'btn' do %>
          Upvote <i class="fas fa-thumbs-up"></i>
       <% end %>
<% end %>

</div>
</div>



