<div class="article">
<% if @article.image.exists? %> 
   <%= image_tag @article.image.url, class:"article-show-pic" %><br/>
<%else%>
   <img src="https://images.squarespace-cdn.com/content/v1/58d9d256c534a5f7a633c089/1492830820399-WHSNL47S3P42C60F5C8W/ke17ZwdGBToddI8pDm48kPryxVU0PrpVSFhErCKkCwlZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZamWLI2zvYWH8K3-s_4yszcp2ryTI0HqTOaaUohrI8PIv_Q9wpI0X4VodK35j8Qgx3-RJtZ6lSjgdErnFfTjAfIKMshLAGzx4R3EDFOm1kBS/dark+books+open+books" alt="", class="article-show-pic">
<% end %>
 
<h3> Author: <%= @article.author.name  %> </h3>
<h4> <%= @article.Title  %>  </h4>
<p> <%= @article.Text %>  </p>
 <i class="fa fa-thumbs-up" aria-hidden="true"></i> 
 <%= @article.votes.count %>
<div class="d-flex">
<% if @article.author == current_user %>
<%= link_to 'Edit', edit_article_path(@article), class:'btn'%>
<%end %>
<% if upvoted? %>
  <%= button_to "Downvote", article_downvote_path(@article) %>
  <% else %>
 <%= button_to "Upvote", article_upvote_path(@article)%>
<% end %>

</div>
</div>



