<!DOCTYPE html>
<html>
  <head>
    <title>Bookish</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <header> 
      <nav>
        <div class="nav-logo">
          <%= link_to 'Bookish',root_path,class: "nav-logo-link" %>
        </div>
        <% if user_signed_in?%>
        <ul class="navbar">
        <li class="nav-item "><a href="#" class="nav-link active">Home</a></li>
         <% all_categories.each do |category| %>
           <li class="nav-item "><%= link_to category.name, category_path(category), class: "nav-link"%></li>
         <%end%>
        </ul>
        <%end%>
        <div class="navbar-right">
          <ul class="navbar">
            <% if !user_signed_in? %>
            <li class="nav-item"> <%= link_to 'Login', new_user_session_path, class: 'nav-link'%> </li>
            <li class="nav-item"><%= link_to 'Register', new_user_registration_path, class: 'nav-link'%> </li>
            <%end%>
            <% if user_signed_in? %>
            <li class="nav-item"><%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: 'nav-link' %></li>
             <li class="nav-item"><%= link_to "Create New Article",new_article_path,class: "nav-link"%></li>
             <li class="nav-item"><a href="#" class="nav-link"><i class="fas fa-search"></i></a></li>
             <% end %>
            
           
            
            
          </ul>
        </div>  
      </nav>
    </header>

    <%= yield %>
    <footer>
      <div class="footer">
        
      </div>
    </footer>
    
  </body>
</html>
