<!DOCTYPE html>
<html>
  <head>
    <title>Bookish</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<% unless flash.empty? %>
   <script type="text/javascript">
      <% flash.each do |f| %>
    <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
   	 toastr['<%= type %>']('<%= f[1] %>');
   <% end %>
   </script>
<% end %>
  
    <header> 
      <nav> 
        <div class="navbar">
          <%= link_to 'Bookish',root_path,class: "nav-logo"%>
       
           <% if user_signed_in?%>
       
             <ul class="main-nav">
             <% all_categories.each do |category| %>
               <li class="nav-item"><%= link_to category.name.upcase, category_path(category), class: "nav-link #{'active' if request.original_url == category_url(category)}" %></li>
              <%end%>
               <li class="nav-item"><%= link_to 'ALL CATEGORIES', categories_path, class: "nav-link #{'active' if request.original_url == categories_url}" %></li>
            </ul>
            <%end%>
          <ul class="right-nav">
            <% if !user_signed_in? %>
            <li class="nav-item"> <%= link_to 'LOGIN', new_user_session_path, class: 'nav-link'%> </li>
            <li class="nav-item"><%= link_to 'REGISTER', new_user_registration_path, class: 'nav-link'%> </li>
            <%end%>
            <% if user_signed_in? %>
            <li class="nav-item"><%= link_to "MY ARTICLES",my_articles_path,class: "nav-link"%></li>
            <li class="nav-item"><%= link_to "CREATE NEW ARTICLE",new_article_path,class: "nav-link"%></li>
            <li class="nav-item"><%= link_to "SIGN OUT", destroy_user_session_path, :method => :delete, class: 'nav-link' %></li>
            <li class="nav-item"><a href="#" class="nav-link"><i class="fas fa-search"></i></a></li>
             <% end %>
          </ul> 
        </div>
      </nav>
    </header>

    <%= yield %>
    <% if request.original_url != root_url %>
    <footer>
     
      <div class="footer">
        
          <h1 class="footer-logo"> Bookish </h1>
          <div>
          
          <p> Design Idea By: <em> <a href="https://www.behance.net/sakwadesignstudio" class="footer-link"> Nelson Sakwa on Behance </a> </em></p>
          <p> Developed By: <em><a href="https://alishabab.github.io" class="footer-link"> Shabab Ali </a></em> </p>

            
           </div>
         <div class="footer-social">
            <a href="https://twitter.com/shabab_ali" class="footer-link"> <i class="fab fa-twitter"> </i> </a>
            <a href="https://github.com/alishabab" class="footer-link"> <i class="fab fa-github"> </i> </a>
            <a href="https://instagram.com/shabab.alii" class="footer-link"> <i class="fab fa-instagram"> </i> </a>
         </div>
      </div>
     
    </footer>
    <%end%>
  </body>
</html>
